<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>118435466248-nrakggk9jrplf69lvqg86g6ajcd75h8d.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.118435466248-nrakggk9jrplf69lvqg86g6ajcd75h8d</string>
	<key>API_KEY</key>
	<string>AIzaSyDcARYJtVUP-FWAZjLA1sB-CkzzOyOqPK4</string>
	<key>GCM_SENDER_ID</key>
	<string>118435466248</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.crud</string>
	<key>PROJECT_ID</key>
	<string>crud-c92c9</string>
	<key>STORAGE_BUCKET</key>
	<string>crud-c92c9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:118435466248:ios:6183fce7ae47bc01d115bd</string>
</dict>
</plist>